@function section-margin($margin) {
  @return $margin * 15;
}
.main-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.space-bottom {
  margin-bottom: section-margin($spacing1);
   @include breakpoints-down(md) {
    margin-bottom: section-margin(6px);
  }
}
.space-top {
  margin-top: section-margin($spacing1);
  @include breakpoints-down(md) {
    margin-top: section-margin(6px);
  }
}
.space-bottom-short {
  margin-bottom: section-margin($spacing1 / 2);
}
.space-top-short {
  margin-top: section-margin($spacing1 / 2);
}
.container-wrap {
  & > section {
    position: relative;
  }
}

.container-general {
  position: relative;
  padding-top: 32px;
  margin-top: $spacing7;
  margin-bottom: $spacing5;
  @include breakpoints-up(sm) {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.full-screen-container {
  height: 100vh;
  display: flex;
}

.maintenance-icon {
  border-radius: 50%;
  margin: $spacing1;
  padding: $spacing2;
  &.v-icon {
    font-size: 48px;
  }
  @include use-theme(background, $light-divider, $dark-divider);
  @include breakpoints-up(sm) {
    padding: $spacing3;
    margin: $spacing3;
  }
}
